@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.slick-list {
	height: 100% !important;
}

@layer utilities {
	.text-primary {
		color: #dd4f05;
	}

	.bg-primary {
		background-color: #dd4f05;
	}

	.sample-transfer-card {
		height: 23.3vw;
		width: 14.09vw;
		border-radius: 7rem;
	}

	.text-balance {
		text-wrap: balance;
	}
}
